.header {
  color: white;
  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
.nav.scrolled {
  background-color: #36a8c2; /* Slightly transparent white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  margin-top: 2px;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: 600;
  padding: 4px;
}
.nav__logo i {
  font-weight: 600;
  font-size: 1.25rem;
}
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__close {
  opacity: 0;
}

.nav__link {
  width: 100%;
  color: white;
  background-color: transparent;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: rgb(227, 227, 235);
}
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}
.dropdown__item {
  cursor: pointer;
}
.dropdown__arrow {
  font-size: 1.25em;
  font-weight: 800;
  transition: 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  width: 270px;
  padding: 5px;
  align-items: center;
  display: flex;
  background-color: white;
  color: black;
  column-gap: 0.5rem;
  transition: background-color 0.5s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: 300;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  background-color: rgb(227, 227, 235);
}
.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}
@media screen and (max-width: 1100px) {
  .nav__link {
    color: white;
  }
  .container {
    margin-inline: 1rem;
  }
  .nav__link {
    padding-inline: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(3.5rem + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }
  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }
  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }
  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }
  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
  }
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 4.3rem;
    pointer-events: initial;
    transition: top 0.3s;
    width: 270px;
  }
  .dropdown__subitem:hover .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

@media screen and (max-width: 900px) {
  header {
    display: none;
  }
}

.contact-navbar .nav__link {
  color: black; /* Yazı rengini siyah yapabilirsiniz */
}
